@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base{
    ul,ol{
        list-style: revert;
        font-size: medium;
    }
    p{
        font-size: medium;
    }
    li{
        margin-left: 1em;
    }
}
